[client]
port = 3306
[mysqld]
port = 3306
#skip-external-locking
#key_buffer_size = 1M
#innodb_force_recovery = 1
max_allowed_packet = 5M //过小会造成文章内容发布失败
table_open_cache = 1
sort_buffer_size = 1M
read_buffer_size = 1M
read_rnd_buffer_size = 1M
myisam_sort_buffer_size = 1M
#thread_cache_size = 1
query_cache_size= 1M
#thread_concurrency = 1
log-bin=mysql-bin
binlog_format=mixed
binlog-do-db=blog
binlog-ignore-db=mysql
server-id = 1
innodb_buffer_pool_size = 30M
#innodb_additional_mem_pool_size = 10M
innodb_log_buffer_size = 10M
[mysqldump]
quick
max_allowed_packet = 5M
[mysql]
no-auto-rehash
[myisamchk]
key_buffer_size = 1M
sort_buffer_size = 1M
read_buffer = 1M
